//@import './variables.scss';
// When importing the master, you leave out the underscore, and it
// will look for a file with the underscore. This prevents the SCSS
// compiler from generating a CSS file from it.
@import "variables";

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; };



// Variables
// $sidebarcolor=#d8f0e7;




/* The side navigation menu */
.nav-panel {
    margin: 0; /* Can be used to create 'floating' tile look*/
    padding: 40px 0px;
    width: 250px;
    padding-left: 15px;
    background-color: $sidebarcolor ;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
  }
  
ul#nav a {
  color: $sidebartext;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .25em;
  display: inline-block;
  padding: 10px;
  position: relative;
}
ul#nav a:hover:after {
  width:100%;
  left: 0;
}
ul#nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  width: 0;
  left: 0;
  position: absolute;
  background: $sidebartext;
  transition: width .6s ease;
  -webkit-transition: width .6s ease;
}

/* Remove list bullets */
ul#nav li {
  list-style: none;
}

/* Nav Panel UL  */
ul#nav {
  text-align: center;
  padding: 0;
}

/* On screens that are less than 700px wide, make the nav-panel into a topbar */
@media screen and (max-width: 700px) {
  .nav-panel {
    width: 100%;
    height: auto;
    position: relative;
  }
  .nav-panel a {float: left;}
  div.main-page {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .nav-panel a {
    text-align: center;
    float: none;
  }
}

/* Author Image */
.author-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; 
}

/* Icons Panel */
ul#icons {
  text-align:center;
  margin: 0;
  padding: 0;
}

ul#icons li {
  display:inline;
}

ul#icons a { 
  display:inline-block;
  color: $sidebartext;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

img#aligned {
  vertical-align: middle;
} 

.nav-panel  h2 {
  margin: 1em 0 0.5em 0;
  color: $sidebarmain;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
}

.nav-panel h4 {
	margin: 1em 0 0.5em 0;
	color: $sidebarmain;
	font-size: 16px;
	line-height: 10px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}

#sidefoot {
  color: lightgrey;
}