
// Color theme
$color-main-bg: #1a1a1a;
$color-primary: #dba450;
$color-content-bg: rgb(252, 252, 233);

// Sidebar Colors
$sidebarcolor: $color-main-bg;
$sidebartext: lightgoldenrodyellow; //$color-content-bg;
$sidebarmain: $color-content-bg;

// Main Page Colors
$main-page-header: #414141;
$main-page-font:  #414141;

// Gradient Colors
$gradhalf:  rgba(252, 252, 233, .5);
$grad2nd:  rgba(252, 252, 233, .85);
$gradfull:  rgba(252, 252, 233, 1);

// Education Card Borders
$educard-border-radius: 15px;