
// Color theme
$color-main-bg: #1a1a1a;
$color-primary: #dba450;


// Sidebar Colors
$sidebarcolor: $color-main-bg;
$sidebartext: $color-primary;
$sidebarmain: $color-primary;

// Main Page Colors
$main-page-header: #414141;
$main-page-font:  #414141;

// Education Card Borders
$educard-border-radius: 15px;